@model List<Models.EF.News>

@foreach (var sp in Model)
{
    <div class="item tintucl">
        <div class="news-box">
            <a href="/News/Show?NewsId=@sp.NewsId">
                <img src="@Url.Content("~/image/" + sp.Photo)" alt="@sp.Title" class="news-img" />
            </a>
            <p class="news-title">
                <a href="/News/Show?NewsId=@sp.NewsId" title="@sp.Title">@sp.Title</a>
            </p>
        </div>
    </div>
}
